// global scss style

$OcrSubNavWidth: 10rem;
$OcrTopBarHeight: 4rem;

// scroll bar beautification
// from https://juejin.cn/post/6844903613936959496
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.icon {
  & {
    height: $OcrTopBarHeight - 2rem;
    width: $OcrTopBarHeight - 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @apply rounded-lg;
    @apply hover:bg-light-900
  }

  svg {
    @apply fill-dark-50
  }
}

// right-bottom popup
.mode-popup {
  & {
    @apply fixed bottom-5 right-5 z-10;
    @apply select-none
  }

  .bkg {
    & {
      @apply px-4 py-2;
      @apply rounded-lg shadow-lg;
    }

    .tip-text {
      @apply text-xl text-center leading-loose;
    }

    .line-btn {
      & {
        @apply text-center;
        @apply my-1
      }

      button {
        @apply hover:bg-light-100/30;
        @apply mx-1 px-3 py-0.5 rounded-full;
      }
    }

  }
}
